In [ ]:
import pandas as pd

In [16]:
df = pd.read_csv("missing_data.csv")
df.isnull().sum() #to check how many missing values are there in evry column

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [ ]:
# now filling missing vlaues to the mean of their columns - we use .fillna method
# BMI has 11 mssing NaN places so lets create a new column for that
df['BMI_fillNA'] = df['BMI'].fillna(df['BMI'].mean())

df

In [26]:
# renaming the column names
df =  df.rename(columns={'BMI': 'BMI_Index'})
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI_Index,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30,0.315,23,0

In [ ]:
# changing datatypees od columns

# df['BMI_Index'] = df['BMI_Index'].astype(int) # this might couse error as that column may have missing values

df['BMI_Index'] = df['BMI_Index'].fillna(df['BMI_Index'].mean()).astype(int) 
df

In [27]:
# calculating grouped mean
grouped_mean = df.groupby('BMI_Index')['Glucose'].mean()
grouped_mean

BMI_Index
18     95.250000
19    101.000000
20     93.166667
21    101.687500
22    117.533333
23    115.958333
24    108.806452
25    118.157895
26    120.035714
27    113.325000
28    118.694444
29    115.805556
30    128.382979
31    122.266667
32    117.848485
33    124.682927
34    128.260000
35    122.875000
36    123.766667
37    128.250000
38    123.583333
39    122.740741
40    138.600000
41    137.857143
42    138.277778
43    131.923077
44    142.125000
45    120.909091
46    120.111111
47    176.500000
48    146.500000
49    143.666667
50    152.000000
52    138.333333
53    162.000000
55     88.000000
57    123.000000
59    180.000000
67    129.000000
Name: Glucose, dtype: float64