In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("missing_data.csv")
df.isnull().sum() #to check how many missing values are there in evry column

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [6]:
# now filling missing vlaues to the mean of their columns - we use .fillna method
# BMI has 11 mssing NaN places so lets create a new column for that
df['BMI_fillNA'] = df['BMI'].fillna(df['BMI'].mean())

df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class,BMI_fillNA
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,33.6
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,26.6
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,23.3
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,28.1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,43.1
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,32.9
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0,36.8
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,26.2
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1,30.1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0,30.4

In [7]:
# renaming the column names
df =  df.rename(columns={'BMI': 'BMI_Index'})

In [14]:
# changing datatypees od columns

# df['BMI_Index'] = df['BMI_Index'].astype(int) # this might couse error as that column may have missing values

# df['BMI_Index'] = df['BMI_Index'].fillna(df['BMI_Index'].mean()).astype(int) 
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI_Index,Diabetes_Pedigree,Age,Class,BMI_fillNA
0,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6
1,1,85.0,66.0,29.0,NaN,26,0.351,31,0,26.6
2,8,183.0,64.0,NaN,NaN,23,0.672,32,1,23.3
3,1,89.0,66.0,23.0,94.0,28,0.167,21,0,28.1
4,0,137.0,40.0,35.0,168.0,43,2.288,33,1,43.1
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32,0.171,63,0,32.9
764,2,122.0,70.0,27.0,NaN,36,0.340,27,0,36.8
765,5,121.0,72.0,23.0,112.0,26,0.245,30,0,26.2
766,1,126.0,60.0,NaN,NaN,30,0.349,47,1,30.1
767,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4

In [ ]:
# calculating grouped mean
grouped_mean = df.groupby('BMI_Index')['Glucose'].mean()
grouped_mean

In [18]:
# going to merge dataframes,  so lets create another one
# df1 = df.rename(columns={'Skin': 'Skin_Fold'})
# df1.isnull().sum()
df1 = df.copy()
df1['Skin_Fold'] = df['Skin_Fold'].fillna(df['Skin_Fold'].mean()).astype(int)
df1

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI_Index,Diabetes_Pedigree,Age,Class,BMI_fillNA
0,6,148.0,72.0,35,NaN,33,0.627,50,1,33.6
1,1,85.0,66.0,29,NaN,26,0.351,31,0,26.6
2,8,183.0,64.0,29,NaN,23,0.672,32,1,23.3
3,1,89.0,66.0,23,94.0,28,0.167,21,0,28.1
4,0,137.0,40.0,35,168.0,43,2.288,33,1,43.1
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48,180.0,32,0.171,63,0,32.9
764,2,122.0,70.0,27,NaN,36,0.340,27,0,36.8
765,5,121.0,72.0,23,112.0,26,0.245,30,0,26.2
766,1,126.0,60.0,29,NaN,30,0.349,47,1,30.1
767,1,93.0,70.0,31,NaN,30,0.315,23,0,30.4

In [19]:
# lets merge BMI_Index and BMI_fillNA
pd.merge(df, df1, on='Skin_Fold', how='inner')

,Pregnant_x,Glucose_x,Diastolic_BP_x,Skin_Fold,Serum_Insulin_x,BMI_Index_x,Diabetes_Pedigree_x,Age_x,Class_x,BMI_fillNA_x,Pregnant_y,Glucose_y,Diastolic_BP_y,Serum_Insulin_y,BMI_Index_y,Diabetes_Pedigree_y,Age_y,Class_y,BMI_fillNA_y
0,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6,6,148.0,72.0,NaN,33,0.627,50,1,33.6
1,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6,0,137.0,40.0,168.0,43,2.288,33,1,43.1
2,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6,9,119.0,80.0,NaN,29,0.263,29,1,29.0
3,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6,5,139.0,64.0,140.0,28,0.411,26,0,28.6
4,6,148.0,72.0,35.0,NaN,33,0.627,50,1,33.6,2,106.0,64.0,119.0,30,1.400,34,0,30.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12555,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4,3,111.0,58.0,44.0,29,0.430,22,0,29.5
12556,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4,3,80.0,82.0,70.0,34,1.292,27,1,34.2
12557,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4,6,125.0,78.0,NaN,27,0.565,49,1,27.6
12558,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4,9,170.0,74.0,NaN,44,0.403,43,1,44.0
12559,1,93.0,70.0,31.0,NaN,30,0.315,23,0,30.4,1,93.0,70.0,NaN,30,0.315,23,0,30.4